
.main {
  align-items: center;
  @media (min-width: $breakpoint-desktop) {
    justify-content: center;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
