
.main {
  align-items: center;
  box-sizing: border-box;
  @media (min-width: $breakpoint-desktop) {
    justify-content: right;
    margin-left:auto;
    max-width: 1120px;

  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
