.menu{
  display: none;
  background-color: $white-col;
  position: fixed;
  // width: 320px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  padding: 16px 19px 16px 32px;
  box-sizing: border-box;
  color: $primary-color;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
  @media (min-width:$breakpoint-tablet) and (max-width: $breakpoint-desktop){
    box-shadow: 16px 0px 40px 8px $shadow-col;
    width: 320px;
  }
  @media (min-width:$breakpoint-desktop){
  // position: fixed;
  left:calc(50% - 720px);
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    width: 320px;
    padding: 23px 24px 32px 24px;
    // color: $primary-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    box-shadow:none;
    height: 100vh;
    // box-sizing: border-box;
    overflow: auto;
  }

  a{
    color: $primary-color;
  }
  .menu__top{
    display: flex;
    margin-bottom: 46px;
  }
  .menu__logo{
    margin-left: 17px;
    @media (min-width:$breakpoint-desktop){
      margin-left: 0;
    }
  }
  .menu__top .menu__icon{
    align-self: center;
  }
  .menu__top .menu__icon:first-child{
    @media (min-width: $breakpoint-desktop){
      display: none;
    }
  }
  .menu__top .menu__icon:last-child{
    margin-left: auto;
  }
  .menu__item-list{
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    list-style-type: none;
  }
  .menu__item-list li{
    position: relative;
    padding-bottom: 32px;
  }
  .menu__item-list li:last-child{
    padding-bottom: 0;
  }
  .menu__item-list li::before{
    content:url('/img/menu/highlight.svg');
    position: absolute;
    left: -24px;
    top: -6px;
    opacity: 0;
  }
  .menu__item-list li a:hover{
    color:$swiper-col;
    transition: all 1s ease;
  }
  .menu__item-list li:hover::before{
    content:url('/img/menu/highlight.svg');
    position: absolute;
    left: -24px;
    top: -6px;
    opacity: 1;
    transition: all 1s ease;
  }
  
  .menu__bottom-icon{
    display: flex;
  }
  .menu__bottom-icon .menu__icon{
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .menu__bottom .menu__email{
    padding-bottom: 12px;
  }
  .menu__bottom .menu__email p{
    margin: 0;
  }
  .menu__bottom .menu__phone{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 40px;
  }
  .menu__bottom .menu__phone p{
    margin: 0;

  }
  .menu__leng ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .menu__leng ul li{
    padding-right: 7px;
  }
  .menu__leng ul li a:hover{
    color: $swiper-col;
  }
  .menu-close{
    display: none;
  }
  .menu__icon:hover, .menu__icon:active, .menu__icon:focus{
    opacity: 0.7; 
    transition: opacity 0.3s;
  }
}