$font-stack:    "TTLakes", serif;
$primary-color:#1B1C21;
$shadow-col:#0E185033;
$body-col: #F8F8F8;
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$head-col:#EAEAEA;
$line-col:#D9FFF5;
$white-col:#fff;
$swiper-col:#7E7E82;
$swiper-navigation-color: #b5b6bc;
$swiper-pagination-color: #b5b6bc;
$swiper-theme-color: #b5b6bc;
$swiper-pagination-bullet-width: 12px;
$swiper-pagination-bullet-height: 12px;
$swiper-pagination-bullet-inactive-color: #dddddd;
